/*--------------------------------------------------------------
- page-contact
--------------------------------------------------------------*/

.page-contact {
    .contact-header {
        text-align: center;
    }
    .contact-details-container {
        line-height: 1.5;
        h2 {
            font-family: $font__main;
        }
    }
    .contact-details-wrapper {
        position: relative;
        left: 15%;
        text-align: left;
        li {
            font-weight: 700;
        }
    }
    .contact-details-wrapper-two {
        li {
            font-weight: 700;
        }
        position: relative;
        left: 15%;
        text-align: left;
    }
    .contact-details-three {
        text-align: center;
    }
    .page-template-contact.contact-form label {
        font-size: 16px;
    }
    form.wpcf7-form {
        text-align: left;
        margin-left: 10%;
    }
}

@media all and (min-width: $medium__width) {
    .page-contact {
        .contact-details-wrapper {
            padding-top: 20px;
            left: 30%;
            font-size: 22px;
            width: 400px;
            li {
                font-weight: 300;
            }
        }
        .contact-details-wrapper-two {
            left: 30%;
            font-size: 22px;
            width: 400px;
            li {
                font-weight: 300;
            }
        }
        form.wpcf7-form {
            text-align: left;
            margin-left: 10%;
        }
    }
}