/*--------------------------------------------------------------
- page-footer
--------------------------------------------------------------*/

.page-footer{
    width: 100%;
    height: 614px;
    color: $color__white;
    background-color: $color__green-main;
    a {
    font-size: 12px;
    text-decoration: none;
    color: $color__white;
    }
    .logo-white{
    position: absolute;
    width: 92px;
    height: 92px;
    right: 30px;
    }
    .line-one{
    margin-left: 80px;
    vertical-align: bottom;
    }
    .address{
    line-height: 1.5px;
    margin-left: 80px;
    height: 135px;
    .location-marker {
        position: relative;
        left: -30px;
        bottom: -30px;
    }
    }
    .emailphone{
    margin-left: 60px;
    p {
        margin: 0;
    }
    .phone-number {
    margin-left: 7px;
    line-height: 2.2;
    }
    }
    .email-icon {
    position: relative;
    left: -15px;
    }
    .phone-icon {
    position: relative;
    left: -10px;
    vertical-align: text-top;
    }
    .sm-icons {
    text-align: center;
    img {
        padding: .7rem;
    }
    }








@media all and (min-width: $medium__width) {
   


}
}