/*--------------------------------------------------------------
- page-footer
--------------------------------------------------------------*/

.page-footer{
    width: 100%;
    height: 30%;
    background-color: $color__green-main;
    










@media all and (min-width: $medium__width) {
   


}
}