/*--------------------------------------------------------------
- page-front-page
--------------------------------------------------------------*/

.page-front-page {

	.wild-fire-count {
		display: none;
	}

	.front-page-header {
		background: url("../../assets/elements/paint-white.png"), url("../../assets/photos/bgphoto_hero.jpg");
		background-size: contain, cover;
		background-repeat: no-repeat;
		background-position: bottom, center;
		padding: 8em 0 6rem 0;
		.front-page-header-content {
			font-weight: 300;
			margin: 0 0 3rem 0;
		}
		.button-link {
			display: none;
		}
	}
	.symbol-color {
		width: 150px;
		height: 139px;
	}
	.front-page-explanation-case {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-gap: 2rem;
		.front-page-explanation-case-icon {
			max-width: 64px;
			max-height: 64px;
		}
	}
	.front-page-impact-case {
		max-width: $full__width;
		margin-left: auto;
		margin-right: auto;
		font-family: $font__main;
		div:nth-child(3) {
			background-color: $color__green-main;
			color: $color__white;
			h3 {
				color: $color__white;
			}
		}
		.front-page-impact-case-photo {
			height: 391px;
			background-size: cover;
			background-position: center;
		}
		.front-page-impact-case-number {
			color: $color__orange-main;
			font-size: 2rem;
			margin: 0 0 .5rem 0;
			font-family: $font__main;
			letter-spacing: 0.1em;
		}
		.front-page-impact-case-metric {
			color: $color__green-main;
			margin: 0;
			font-family: $font__main;
			font-size: 1.5rem;
			letter-spacing: 0.1em;
		}
		.front-page-impact-case-icon-container {
			width: 100px;
			height: 100px;
			margin-top: 1rem;
			margin-right: 1rem;
		}
		.front-page-impact-content {
			padding-bottom: 1.5rem;
		}
	}

	.volunteer {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}
	.volunteer-img {
		background-size: cover;
		width: 230px;
		height: 230px;
		align-self: center;
		order: 2;
	}
	.volunteer-text {
		order: -1;
	}
	.you-can-join-text {
		order: 3;
		p {
			text-align: center;
			font-size: 1.5rem;
		}
	}
	.find-out-button {
		order: 4;
		align-self: center;
	}
	.volunteer-form {
		display: none;
	}
}

@media all and (min-width: $medium__width) {
	.page-front-page {

		.front-page-header {
			height: 677px;
			background-size: $full__width, cover;
			.we-detect-fires {
				padding: 3rem 4rem 0;
			}
			.front-page-header-content {
				font-size: 1.7rem;
				font-weight: 300;
				color: $color__grey;
			}
			.button-link {
				display: inline-block;
			}
		}

		.front-page-maps {
			padding-bottom: 6rem;
		}

		.front-page-volunteer {
			background: url("../../assets/elements/paint-white-top.png"), url("../../assets/elements/paint-white.png"), url("../../assets/photos/bgphoto_volunteering.png");
			background-size: $full__width, $full__width, cover;
			background-repeat: no-repeat;
			background-position: top, bottom, center;
			background-color: $color__green-main;
			color: $color__white;
			div {
				width: 50%;
				padding-bottom: 6rem;
			}
		}
		.volunteer-button-container {
			display: none;
		}
		.front-page-explanation-case {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
		}
		.front-page-impact-case {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: auto auto auto;
			padding-top: 6rem;
			.front-page-impact-content {
				grid-column: span 2;
				padding: 4rem 6rem;
				margin: 0;
			}
			div:nth-child(3) {
				grid-column: 2 / 4;
			}
			div:nth-child(4) {
				grid-column: 1;
				grid-row: 2;
			}
			h3 {
				font-family: $font__main;
			}
			.front-page-impact-case-number {
				font-size: 5rem;
				margin: 0;
			}
			.front-page-impact-case-metric {
				color: $color__green-main;
				font-size: 2.5rem;
			}
			.front-page-impact-case-icon-container {
				width: 184px;
				height: 184px;
			}
			.front-page-impact-case-photo {
				height: 100%
			}
		}
		.volunteer {
			display: flex;
			justify-content: space-around;
			flex-direction: column;
			flex-wrap: wrap;
			height: 430px;
			width: 100%;
			max-width: 900px;
			margin: 0 auto;
		}
		.volunteer-text {
			width: 70%;
			max-width: 300px;
			font-size: 14px;
			p {
				text-align: left;
				padding-right: 2rem;
				margin-bottom: 0;
			}
		}
		.volunteer-img {
			background-size: cover;
			width: 390px;
			height: 390px;
			margin: 0 1rem 0 0;
			align-self: center;
			order: -1;
		}
		.you-can-join-text {
			order: 2;
			width: 70%;
			max-width: 300px;
			p {
				text-align: left;
				padding-right: 2rem;
				font-weight: bolder;
				margin-top: 0;
			}
		}
		.volunteer-form {
			display: flex;
			justify-content: center; 
			// padding: 10rem 0 0 25rem;
		}
		.volunteer-button-container {
			display: none;
		}
	}
}

@media all and (min-width: $desktop__width) {
	.page-front-page {

		.front-page-explanation-case {
			grid-template-columns: repeat(5, auto);
			grid-template-rows: auto;
		}

		.wild-fire-count-container {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			max-width: $full__width;
			height: 0;

			.wild-fire-count {
				display: block;
				position: absolute;
				right: 2rem;
				top: 4rem;
				width: 236px;
				height: 186px;
				border: 3px solid $color__white;
				text-align: center;
				color: $color__white;
				background-color: rgba(121, 121, 121, 0.3);
				h3 {
					font-family: $font__main;
					font-size: 22px;
					margin: 10px 0;
				}
				.wild-fire-count-maps {
					display: flex;
					justify-content: space-between;
					padding: 0 20px;
					img {
						width: 50px;
						max-height: 50px;
					}
					img:nth-child(2) {
						width: 25px;
					}
				}
				.count {
					display: flex;
					justify-content: space-around;
					padding: 0 25px;
					color: $color__orange-main;
					h2 {
						font-family: $font__main;
						font-size: 40px;
						margin: 5px 0;
					}
				}
			}
		}

	}
}