/*--------------------------------------------------------------
- page-impct
--------------------------------------------------------------*/

.page-impact {
	h1{
		font-size: 28px;
	}
	h2{
		font-family: $font__main;
		font-size: 30px;
	}
	h3{
		font-family: $font__main;
	}
	.case-title{
		font-size: 30px;
	}
	.impact-header {
		
	}
	.impact-explanation-case {
		.impact-explanation-case-icon {
			min-width: 64px;
			min-height: 64px;
		}
	}
	.impact-impact-case {
		max-width: $full__width;
		margin-left: auto;
		margin-right: auto;
		.impact-impact-content {
			padding: 4rem 6rem;
			h3 {
				font-size: 20px;
			}
		}
		div:nth-child(3) {
			background-color: $color__green-main;
			color: $color__white;
		h3 {
			color: $color__white;
		}
		}
	}
	.impact-impact-case-photo {
		height: 551px;
		background-size: cover;
		background-position: center;
	}
	.impact-impact-case-number {
		color: $color__orange-main;
	}
	.impact-impact-case-metric {
		color: $color__green-main;
		font-size: 2.5rem;
		margin: 0;
	}
	.impact-impact-case-icon-container {
		min-width: 100px;
		min-height: 100px;
		margin-top: 1rem;
		margin-right: 1rem;
	}
	.get-involved {
		padding: 3rem;
	}
	.maps-large {
		display: none;
	}
}

@media all and (min-width: $medium__width) {
	.page-impact {
		.impact-header {
			.button-link {
				display: inline-block;
			}
		}
		.impact-explanation-case {}
		.impact-impact-case {
			padding-top: 6rem;
			.impact-impact-content {
				padding: 4rem 6rem;
			}
			div:nth-child(3) {
				background-color: $color__green-main;
				color: $color__white;
				h3 {
					color: $color__white;
				}
			}
			div:nth-child(4) {}
			h3 {
				font-family: $font__main;
			}
			.impact-impact-case-number {
				font-size: 5rem;
				margin: 0;
			}
			.impact-impact-case-icon-container {
				width: 184px;
				height: 184px;
			}
			.impact-impact-case-photo {}
		}
	.maps-small {
		display: none;
	}
	.maps-large {
		display: flex;
		padding: 5rem;
		justify-content: center;
		img {
			padding: 0 5% 0 5%;
		}

	}
	}
}

@media all and (min-width: $desktop__width) {
	.page-impact {
		.impact-explanation-case {}
	}
}