// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin width-content {
	max-width: $full__width;
	padding: 3rem 4rem 0 4rem;
	margin: 0 auto; // horizontally center the content
}

@mixin width-full {
	padding-top: 3rem;
	width: 100%;
	background-color: $color__green-main;
	color: $color__white;
}

@mixin button-link {
	padding: 1rem;
	border-radius: 5px;
	color: $color__white;
	text-decoration: none;
	min-width: 175px;
	text-align: center;
}

@mixin button-link-solid {
	background-color: $color__orange-main;
	color: $color__white;
	border: none;
	&:visited {
		color: $color__white;
	}
}

@mixin button-link-hollow {
		border: 2px solid $color__orange-main;
	color: $color__orange-main;
	&:visited {
		color: $color__orange-main;
	}
}
