// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block - deprecate?
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// content formatting

@mixin width-column {
	max-width: $full__width/2;
	padding: 2rem 2rem 0 2rem;
	margin: 0 auto; // horizontally center the content
}

@mixin width-content {
	max-width: $full__width;
	padding: 2rem 2rem 0 2rem;
	margin: 0 auto; // horizontally center the content
}

@mixin width-full {
	padding-top: 2rem;
	width: 100%;
	background-color: $color__green-main;
	color: $color__white;
}

// buttons

@mixin button-link {
	padding: 1rem;
	border-radius: 5px;
	color: $color__white;
	text-decoration: none;
	min-width: 175px;
	text-align: center;
}

@mixin button-link-solid {
	background-color: $color__orange-main;
	border: 2px solid $color__orange-main;
	color: $color__white;
	&:visited {
		color: $color__white;
	}
	&:hover {
		background-color: darken($color__orange-main, 15%);
	}
}

@mixin button-link-hollow {
	border: 2px solid $color__white;
	color: $color__white;
	&:visited {
		color: $color__white;
	}
	&:hover {
		background-color: darken($color__orange-main, 15%);
		border: 2px solid $color__orange-main;
	}
}

@mixin button-link-hollow-orange {
	border: 2px solid $color__orange-main;
	color: $color__orange-main;
	&:visited {
		color: $color__orange-main;
	}
	&:hover {
		border: 2px solid darken($color__orange-main, 15%);
		color: $color__white;
		background-color: $color__orange-main;
	}
}