/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.site-header {
	background: $color__green-main;
}

html body #responsive-menu-button {
	right: 2rem;
	background: none;
}

/* Links */

a {
	color: $color__text-main;

	&:visited {
		color: $color__text-main;
	}
	&:hover,
	&:focus,
	&:active {
		color: white;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */
		
.main-navigation {
	display: block;
	width: 100%;
	padding: .5rem 2rem;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		position: relative;
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		width: 50%;
	}

	.nav-next {
		text-align: right;
		width: 50%;
	}
}
.site-branding{
	width: 125px;
  display: flex;				
}

//MOBILE NAVIGATION

/* Navigation Menu */
.main-navigation {
	margin-top: 0;
	text-align: center;
	display: -webkit-inline-box;
	display: flex;
}
.main-navigation li {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.42857143;
}

.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
	display: none;
}

.main-navigation ul.nav-menu.toggled-on,
.menu-toggle {
	display: inline-block;
}

	.logo-color {
		display: none;
	}
	.logo-white {
		display: inline-block;
	}

// End mobile devices

@media screen and (min-width: $desktop__width) { // 920 px and wider

	.main-navigation ul.nav-menu,
	.main-navigation div.nav-menu > ul {
		display: inline-block !important;
		text-align: left;
		width: 100%;
	}

	.main-navigation {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		max-width: $full__width;
		margin: 0 auto;
		z-index: 1;

		.current-menu-item > a, // bold the current page in the navbar
		.current-menu-ancestor > a,
		.current_page_item > a,
		.current_page_ancestor > a {
			font-weight: bold;
		}

		ul {
			li {
				margin: 0 0 0 2rem;
				display: inline-block;
				a:hover,
				a:focus {
					color: $color__text-main;
				}
				&:last-child {
					a {
						@include button-link;
						@include button-link-solid;
					}
				}
			}
		}

	}

	.menu-toggle {
		display: none;
	}

	.site-header {
	background: $color__green-nav-bar;
	}

	.logo-color {
		display: inline-block;
	}
	.logo-white {
		display: none;
	}

}
