/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: white;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		position: relative;
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		width: 50%;
	}

	.nav-next {
		text-align: right;
		width: 50%;
	}
}
.hb-logo{
	width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;				
}

//MOBILE NAVIGATION

/* Navigation Menu */
.main-navigation {
	margin-top: 0;
	text-align: center;
	display: -webkit-inline-box;
	background: $color__green-nav-bar;
	display: flex;
}
.main-navigation li {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.42857143;
}

.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
	display: none;
}

.main-navigation ul.nav-menu.toggled-on,
.menu-toggle {
	display: inline-block;
}

// End mobile devices

@media screen and (min-width: $medium__width) { // 700 px and wider

	.main-navigation {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.main-navigation ul.nav-menu,
	.main-navigation div.nav-menu > ul {
		display: inline-block !important;
		text-align: left;
		width: 100%;
	}

	.main-navigation li a:hover,
	.main-navigation li a:focus {
			color: $color__text-main;
	}

	.main-navigation li ul {
		margin: 0;
		padding: 0;
		position: absolute;
		top: 100%;
		z-index: 1;
		height: 1px;
		width: 1px;
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
	}

	.main-navigation ul li:hover > ul,
	.main-navigation ul li:focus > ul,
	.main-navigation .focus > ul {
		border-left: 0;
		clip: inherit;
		overflow: inherit;
		height: inherit;
		width: inherit;
	}

	.main-navigation .current-menu-item > a, // bold the current page in the navbar
	.main-navigation .current-menu-ancestor > a,
	.main-navigation .current_page_item > a,
	.main-navigation .current_page_ancestor > a {
		font-weight: bold;
	}
	
	.menu-toggle {
		display: none;
	}

	.main-navigation {
		max-width: $full__width;
		margin: 0 auto;
		ul {
			display: flex;
			background: $color__green-nav-bar;
			li {
				margin: 0 2rem 0 0;
				display: inline-block;
				&:last-child {
					a {
						@include button-link;
						@include button-link-solid;
					}
				}
			}
		}
	}

	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}

} 
@media screen and (min-width: $desktop__width){

	main-navigation ul.nav-menu,	
	.main-navigation div.nav-menu > ul {	
			display: inline-block !important;
			text-align: right;
			width: 100%;
			background: $color__green-nav-bar;
	}

	.hb-logowhite{
		display: none;;
	}
	.hb-logogreen {
		display: inline-block;
	}

}
