/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

.width-column {
	@include width-column
}

.width-content { // applied to pretty much every main container
	@include width-content
}

.width-full {
	@include width-full
}

.bignumber {
	font-size: 5rem;
	color: $color__blue-numbers;
	margin: 0;
}

// sections that feature a left-justified horizontal layout
.flex-horizontal-left {
	display: flex;
	flex-direction: row;
}

// sections that feature an evenly-spaced horizontal layout
.flex-horizontal-center {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

// Buttons and anchors in button's clothing

.button-link, // a basic button style to apply to all buttons and button-esque anchors
.wpcf7-submit {
	@include button-link
}

.button-link-solid,
.site-content .wpcf7-submit {
	@include button-link-solid
}

.button-link-hollow {
	@include button-link-hollow
}
.button-link-hollow-orange {
	@include button-link-hollow-orange
}

footer .wpcf7-form-control.wpcf7-submit {
	background-color: $color__green-main;
	border: 2px solid $color__white;
	&:hover {
		background-color: darken($color__orange-main, 15%);
		border: 2px solid $color__orange-main;
		color: $color__white;
	}
}

// Breakpoint at 700px wide

@media screen and (min-width: $medium__width) {

	.width-column,
	.width-content, { // applied to pretty much every main container
		padding: 6rem 4rem 0 4rem;
		text-align: center;
	}

	.width-full {
		padding-top: 6rem;
	}

}