/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

.width-content {
	max-width: $full__width;
	margin-left: auto;
	margin-right: auto;
	padding-right: 2rem;
	padding-left: 2rem;
}

.width-full {
	width: 100%;
	background-color: $color__green-main;
	color: $color__white;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.bignumber {
	font-size: 5rem;
	font-weight: 800;
	color: $color__blue-numbers;
	margin: 1rem;
}

// sections that feature a left-justified horizontal layout
.flex-horizontal-left {
	display: flex;
	flex-direction: row;
}

// sections that feature an evenly-spaced horizontal layout
.flex-horizontal-center {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.button-link {
	padding: 1rem;
	border-radius: 5px;
	color: $color__white;
	text-decoration: none;
	margin-top: 1rem;
}

.button-link-solid, .wpcf7-submit{
	background-color: $color__orange-main;
	color: $color__white;
	border: none;
	&:visited {
		color: $color__white;
	}

}

.button-link-hollow {
	border: 2px solid $color__orange-main;
	color: $color__orange-main;
	&:visited {
		color: $color__orange-main;
	}

}