// Structure

$base__space-unit: 1.5rem;

// Colors

$color__text-main: #1e1e1e;
$color__background-body: #f0f3f3;
$color__white: #fff;
$color__green-nav-bar: #e8eeee;
$color__green-form: #96b0ab;
$color__green-main: #698e87;
$color__green-loading-page:#3d5853; 
$color__orange-main: #da9127;
$color__blue-numbers: #72acb2;
$color__grey: #cecece;


$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// Typography

$font__main: 'Overpass', sans-serif;
$font__headings: 'Merriweather', serif;;
$font__extra: SFNS Display Regular;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__size-small: .7rem;
$font__size-h1: 50px;

// Media

$medium__width: 700px;
$desktop__width: 920px;
$full__width: 1440px;
