/*--------------------------------------------------------------
- page-volunteer
--------------------------------------------------------------*/

.page-volunteer{

.volunteer-form label {
    display: flex;
    font-size: 1.25rem;
    font-weight: 700;
}
.wpcf7-submit {
    display: flex;
}



}
@media all and (min-width: $medium__width) {
    .page-volunteer {




    }
}