/*--------------------------------------------------------------
- page-who
--------------------------------------------------------------*/

.page-template-who {

	text-align: center;

	p {
		text-align: center;
		color: $color__text-main;
	}

	.bignumber {
		color: $color__blue-numbers;
	}

	.icon-one {
		display: none;
	}

	.icon-two {
		display: inline;
	}

	.who-content-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 4rem;
	}

	.who-title-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 80%;
		margin: 0 auto;
		padding: 20px 20px 0px 20px;
		h2 {
				text-align: center;
		}
	}

	.front-page-explanation {
		p {
			margin: 20px auto;
		}
	}
	.who_header_case-photo {
		height: 259px;
		min-width: 100%;
		background-size: cover;
		background-position: 50%;
	}

	.front-page-explanation-case {
		display: flex;
		flex-direction: column;
		text-align: left;
		p {
			text-align: left;
		}
		div {
			h2 {
				text-align: left;
			}
		}
		span {
			display: none;
		}
		img {
			width: 45px;
			max-height: 45px;
		}
	}

	.team-case {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.who_team_case-photo {
		margin: 0 auto;
		height: 300px;
		width: 300px;
		background-size: cover;
		background-color: transparent;
		text-align: center;
	}

	.single-team-member {
		display: flex;
		flex-direction: column;
		justify-content: center;
		h3 {
			margin-bottom: 5px;
		}
		h4 {
			margin: 0;
		}
		span {
			margin-top: 10px;
		}
	}

	.who-impact-statement {
		max-width: 600px;
		h2 {
			font-family: $font__main;
			font-weight: 300;
		}
	}

	.our-impact-link {
		margin: 0 auto;
		h2 {
			margin: 40px auto;
			max-width: 300px;
		}
	}
}

@media all and (min-width: $medium__width) {
	.page-template-who {
		.icon-one {
			display: inline;
		}
		.icon-two {
			display: none;
		}
		.team-case {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			overflow: hidden;
		}
		.our-impact-link {
			margin: 0 auto;
			height: 90px;
			h2 {
				margin: 40px auto;
				max-width: 810px;
			}
		}
		.who-title-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 38%;
			margin: 20px 40px 30px 40px;
			padding: 20px 20px 0px 20px;
			text-align: left;
			box-shadow: 3px 3px 15px 1px rgba(186, 186, 186, 1);
			h2 {
				text-align: center;
			}
		}
		.front-page-explanation {
			p {
					max-width: 700px;
			}
		}
		.who-title-content:nth-child(3) {
				order: 4;
		}
		.who_header_case-photo {
				height: auto;
				min-width: 50%;
				background-size: cover;
		}

		.front-page-explanation-case {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			.green-text {
				font-size: 20px;
				color: $color__green-main;
				margin: 10px 0;
			}
		}

		div {
			display: flex;
			flex-direction: column;
			width: 40%;
			margin: 20px 15px 30px;
			padding: 20px 20px 0px 20px;
			text-align: left;
			box-shadow: 3px 3px 15px 1px rgba(186, 186, 186, 1);
			h2 {
				margin-bottom: 0;
				margin-top: 0;
				text-align: left;
				font-size: 35px;
			}
			span {
				display: block;
				margin-bottom: 2rem;
			}
			img {
				width: 50px;
				max-height: 50px;
			}
		}
				
		.bignumber {
			color: $color__blue-numbers;
			text-align: left;
		}

		.who-impact-statement {
			max-width: 900px;
			h2 {
				font-family: $font__headings;
				font-weight: 700;
			}
		}

		.single-team-member {
				max-width: 250px;
		}
	}
}
